#home-title {
    .title-tab {
        position: relative;
        padding: 0;
        text-align: center;
        font-weight: normal;
        font-size: 0;//去间距
        line-height: 0;
        a {
            // float: left;
            display: inline-block;
            width: 33%;
            line-height: 44px;
            font-size: 14px;
            color: #aaa;
        }
        a.active {
            color: #fff;
            font-size: 15px;
        }
        .slider-block {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 33.3%;
            height: 5px;
            background-color: $greenMainColor;
            transition: all 0.2s;
            // transform:translateX(100%);
        }
    }
}

#home-slider {
    height: 100%;
    
    // 精选
    .good{
        .top-banner{
            position: relative;top:-1px;line-height: 0;
            img{
                width: 100%;
            }
        }
        .good-item{
            position: relative;
            margin: 8px;
            a{
                display: block;overflow: hidden;
                height: 30vh;
                background-size: cover;
                background-position: 50% 50%;
                border-radius: 2% 2%;
            }
            .overlay{
                width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.2);
            }
            .info{
                position: absolute;top: 55%;left: 50%;
                width: 100%;
                transform: translate(-50%,-50%);
                text-align: center;
                h3,p{
                    margin: 0;
                    padding: 4px 0;
                    color: #fff;
                    text-shadow: 1px 1px #000;
                }
                h3{
                    font-size: 5vw;
                }
                p{
                    font-size: 3vw;
                }
                img{
                    margin-top: 10px;
                    display: inline-block;
                    width: 9vw;
                    border-radius: 50%;
                    border: 3px solid rgba(255, 255, 255, 0.5)
                }
            }
        }
    }
}
