<ion-view view-title="精选">
    <ion-nav-buttons side="primary">
        <button class="button button-icon ion ion-ios-personadd-outline" ng-click="openPopoverView($event)"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion ion-ios-search" ng-click="openPopoverView($event)"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <div id="home-title" >
            <div class="title-tab">
                <a ng-class="{active:homeTab.activeItem == 0}" ng-click="homeTab.setActive(0)">关注</a>
                <a ng-class="{active:homeTab.activeItem == 1}" ng-click="homeTab.setActive(1)">精选</a>
                <a ng-class="{active:homeTab.activeItem == 2}" ng-click="homeTab.setActive(2)">热门</a>
                <div class="slider-block" style="transform:translateX({{homeTab.activeItem*100}}%)"></div>
            </div>
        </div>
    </ion-nav-title>
    <!-- 这样写竖向滚动会出问题，ion-content 应该定义在轮播子项内 -->
    <!--<ion-content>-->
    <ion-slide-box id="home-slider" show-pager="false" active-slide="1" on-slide-changed="homeTab.setActive($index)">
        
        <ion-slide class="attention">
            <!-- 关注 -->
            <ion-content>
                <ion-list>
                    <ion-item ng-repeat="item in items" ng-bind="item"></ion-item>
                </ion-list>
            </ion-content>
        </ion-slide>
        
        <ion-slide class="good">
            <!-- 精选 -->
            <ion-content>
                <ion-refresher spinner="bubbles" pulling-text="下拉刷新" on-refresh="good.refresh()"></ion-refresher>
                <!-- 精选头图 -->
                <div class="top-banner">
                	<img ng-src="{{good.data.banner.image}}"/>
                </div>
                <!-- 精选项 -->
                <div class="good-item" ng-repeat="item in good.data.items">
                    <!--nav-transition="ios" nav-direction="forward" -->
                	<a id="{{item.id}}" data-hot="{{item.hot}}" ui-sref="tab.good-detail({id:item.id})" style="background-image: url({{item.background_image | imageSize}});">
                        <!-- 20% 遮罩层 -->
                        <div class="overlay"></div>
                		<div class="info">
                			<h3>{{item.title}}</h3>
                			<p>{{item.destinations | pointer}}</p>
                			<img src="{{item.avatar }}" alt="{{item.username}}"/>
                		</div>
                	</a>
                </div>
                <ion-infinite-scroll spinner="lines" ng-if="good.showInfinite" on-infinite="good.infinite()" distance="1%"></ion-infinite-scroll>
            </ion-content>
        </ion-slide>
        
        <ion-slide class="hot">
            <!-- 热门 -->
            <ion-content>
                <ion-refresher spinner="bubbles" pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
                <ion-list>
                    <ion-item ng-repeat="item in items" ng-bind="item"></ion-item>
                </ion-list>
                <ion-infinite-scroll spinner="lines" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
            </ion-content>
        </ion-slide>
        
    </ion-slide-box>
    <!--</ion-content>-->
</ion-view>
