<ion-view view-title="购买">
    <ion-content class="market">
        <ion-refresher spinner="bubbles" pulling-text="下拉刷新" on-refresh="market.refresh()"></ion-refresher>
        <!-- 这里必须加 ng-if 判断条件，等到有数据再渲染轮播。否则会因为生成 DOM 时 没有数据导致轮播宽度是 0 -->
        <ion-slide-box ng-if="market.data.banners" active-slide="myActiveSlide" does-continue="true" auto-play="true" slide-interval="3000">
            <ion-slide ng-repeat="banner in market.data.banners">
                <a ui-sref="tab.buy-web({url:banner.url,title:banner.title})">
                    <img ng-src="{{banner.image}}" alt="{{banner.title}}">
                </a>
            </ion-slide>
        </ion-slide-box>
        <ion-infinite-scroll spinner="lines" ng-if="market.showInfinite" on-infinite="market.infinite()" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
