<ion-view view-title="Home" ng-controller="HomeController">
    <ion-nav-buttons side="primary">
        <button class="button button-icon ion ion-ios-personadd-outline" ng-click="openPopoverView($event)"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion ion-ios-search" ng-click="openPopoverView($event)"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <div id="home-title" class="bar bar-header">
            <div class="button-bar">
                <a ng-class="{active:activeItem == 0}" ng-click="setActive(0)">关注</a>
                <a ng-class="{active:activeItem == 1}" ng-click="setActive(1)">精选</a>
                <a ng-class="{active:activeItem == 2}" ng-click="setActive(2)">热门</a>
                <div class="slider-block" style="transform:translateX({{activeItem*100}}%)"></div>
            </div>
        </div>
    </ion-nav-title>
    <!-- 这样写竖向滚动会出问题，ion-content 应该定义在轮播子项内 -->
    <!--<ion-content>-->
    <ion-slide-box id="home-slider" show-pager="false" active-slide="1" on-slide-changed="setActive($index)">
        <ion-slide>
            <!-- 关注 -->
            <ion-content>
                <ion-list>
                    <ion-item ng-repeat="item in items" ng-bind="item"></ion-item>
                </ion-list>
            </ion-content>
        </ion-slide>
        <ion-slide>
            <!-- 精选 -->
            <ion-content>
                <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
                <ion-list>
                    <ion-item ng-repeat="item in items" ng-bind="item"></ion-item>
                </ion-list>
            </ion-content>
        </ion-slide>
        <ion-slide>
            <!-- 热门 -->
            <ion-content>
                <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
                <ion-list>
                    <ion-item ng-repeat="item in items" ng-bind="item"></ion-item>
                </ion-list>
            </ion-content>
        </ion-slide>
    </ion-slide-box>
    <!--</ion-content>-->
</ion-view>
