<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view>
    <ion-tabs class="tabs-icon-top tabs-color-active-balanced">
        <ion-tab title="精选" icon-off="ion-ios-flower-outline" icon-on="ion-ios-flower" href="#/tab/home">
            <ion-nav-view name="tab-home"></ion-nav-view>
        </ion-tab>
        <ion-tab title="目的地" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/destination">
            <ion-nav-view name="tab-destination"></ion-nav-view>
        </ion-tab>
            <div class="record-btn"></div>
        <ion-tab title="购买" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/buy">
            <ion-nav-view name="tab-buy"></ion-nav-view>
        </ion-tab>
        <ion-tab title="我的" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/me">
            <ion-nav-view name="tab-me"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
    <script id="login.html" type="text/ng-template">
        <!-- 登录/注册 模态框 -->
        <div class="modal login-modal" ng-controller="loginModelController">
            <ion-header-bar class="">
                <a class="button button-clear button-positive" ng-click="isRegister?toLogin():loginModal.hide()">
                    <i class="ion" ng-class="{'ion-close-round':!isRegister,'ion-chevron-left':isRegister}"></i>
                    {{!isRegister?'关闭':'登录'}}
                </a>
                <h1 class="title" ng-bind="isRegister?'注册账户':'登录账户'"></h1>
                <a ng-show="!isRegister" class="button button-clear button-positive" ng-click="toRegister()">
                    注册
                </a>
            </ion-header-bar>
            <ion-content ng-controller="formController">
                <div class="box-wrap" ng-class="{step:isRegister}">
                    <div class="login-box box">
                        <!-- 登录表单 -->
                        <form novalidate name="loginForm" ng-submit="loginSubmit($event)">
                            <label class="item item-input">
                                <input type="text" name="phone" ng-model="loginData.phone" pattern="^0?(13|14|15|18)[0-9]{9}$" required placeholder="手机号码" autocomplete="off" >
                                <!-- 输入框脏值(input事件)即开始显示当前表单控件验证状态: valid(笑脸)/invalid(哭脸)-->
                                <i ng-class="{
                                    'ion-android-sad':loginForm.phone.$invalid&&loginForm.phone.$dirty,
                                    'ion-android-happy': loginForm.phone.$valid&&loginForm.phone.$dirty
                                }" 
                                class="icon"></i>
                            </label>
                            <label class="item item-input">
                                <input type="password" name="password" ng-model="loginData.password" required placeholder="密码">
                                <i ng-class="{
                                    'ion-android-sad':loginForm.password.$invalid&&loginForm.password.$dirty,
                                    'ion-android-happy': loginForm.password.$valid&&loginForm.password.$dirty
                                }" 
                                class="icon"></i>
                            </label>
                            <div class="bot">
                                <input class="button button-block" type="submit" ng-disabled="loginForm.$invalid" value="登录">    
                            </div>
                        </form>
                    </div>
                    <div class="register-box box">
                        <!-- 注册表单 -->
                        <form novalidate name="registerForm" ng-submit="registerSubmit($event)" >
                            <div class="item item-input-inset">
                                <label class="item-input-wrapper">
                                    <input type="text" name="phone" ng-disabled="vCodeBtnDis" ng-model="registerData.phone" ng-pattern="/^0?(13|14|15|18)[0-9]{9}$/" required placeholder="手机号码（国内）" autocomplete="off">
                                    <i class="icon" ng-class="{'ion-locked':vCodeBtnDis}"></i>
                                </label>
                                <button type="button" ng-disabled="vCodeBtnDis || registerForm.phone.$invalid" ng-click="getVCode()" ng-bind="vCodeBtnDis?vCodeTime+'秒后重新获取':'获取验证码'" class="button button-small"></button>
                            </div>
                            <label class="item item-input">
                                <input type="text" name="vCode" ng-model="registerData.vCode" ng-pattern="/^\d{6}$/" required placeholder="短信验证码" autocomplete="off" >
                                <i ng-class="{
                                    'ion-android-sad':registerForm.vCode.$invalid&&registerForm.vCode.$dirty,
                                    'ion-android-happy': registerForm.vCode.$valid&&registerForm.vCode.$dirty
                                }" 
                                class="icon"></i>
                            </label>
                            <label class="item item-input">
                                <input type="text" name="username" ng-model="registerData.username" ng-pattern="/^[A-Za-z0-9\u4e00-\u9fa5]{2,16}$/" required placeholder="昵称（2~16位/中文/字母/数字）" autocomplete="off" >
                                <i ng-class="{
                                    'ion-android-sad':registerForm.username.$invalid&&registerForm.username.$dirty,
                                    'ion-android-happy': registerForm.username.$valid&&registerForm.username.$dirty
                                }" 
                                class="icon"></i>
                            </label>
                            <label class="item item-input">
                                <input type="password" name="password" ng-model="registerData.password" ng-pattern="/^.{8,}$/" required placeholder="密码（不小于8位）">
                                <i ng-class="{
                                    'ion-android-sad':registerForm.password.$invalid&&registerForm.password.$dirty,
                                    'ion-android-happy': registerForm.password.$valid&&registerForm.password.$dirty
                                }" 
                                class="icon"></i>
                            </label>
                            <label class="item item-input">
                                <input type="password" name="confirm" ng-model="confirm" required placeholder="确认密码">
                                <i ng-class="{
                                    'ion-android-sad': (registerForm.confirm.$invalid || confirm != registerData.password) && registerForm.confirm.$dirty,
                                    'ion-android-happy': registerForm.confirm.$valid && confirm == registerData.password && registerForm.confirm.$dirty
                                }" 
                                class="icon"></i>
                            </label>
                            <!-- 输入框首次失焦(blur事件)开始显示未通过的验证提示，每次只显示最上面的一条 -->
                            <div class="bot">
                                <input class="button button-block" type="submit"
                                ng-disabled="registerForm.$invalid || confirm != registerData.password " value="注册">    
                            </div>
                        </form>
                    </div>

                </div>
            </ion-content>
        </div>
    </script>
</ion-view>
